body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    font-family: Arial;
}

.calculator {
    background: #333;
    padding: 20px;
    border-radius: 10px;
}

#display {
    width: 87%;
    height: 50px;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    border: none;
    background: #555;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: orange;
}

.head{
    color: yellow;
    font-family:serif;
}
